@import "./normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

:root {

   --cyan: #00C3FF;
   --green-blue: #80E18D;
   --yellow: #FFFF1C;
   --light-grey-blue: #2C5364;
   --middle-grey-blue: #203A43;
   --dark-grey-blue: #0F2027;
   --linear-gradient: var(--cyan), var(--green-blue), var(--yellow);
   --bg-gradient: var(--dark-grey-blue), var(--middle-grey-blue), var(--light-grey-blue);
}

body {
   color: #fff;
   font-family: "Montserrat", arial, sans-serif;
   background: rgb(15,32,39); /* Old browsers */
   background: -moz-linear-gradient(-45deg, rgba(15,32,39,1) 0%, rgba(29,54,62,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, rgba(15,32,39,1) 0%,rgba(29,54,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, rgba(15,32,39,1) 0%,rgba(29,54,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   min-height:100vh;
   overflow-x: hidden;
}

body::before {
   content:'';
   position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('./assets/img/noise.png');
  z-index:-1;
}



ul {
   margin:0;
   padding:0;
}

li {
   list-style:none;
}

a {
   text-decoration:none;
   color:inherit;
}


@import "./components/Nav/nav.css";
@import "./components/Nav/hamburgerMenu.css";
@import "./components/Nav/navList.css";
@import "./routes/landing.css";
@import "./components/Slider/slider.css";
